.blue1{
  background-color: #F5E8C7;
}
.blue2{
    background-color: #818FB4;
  }
.blue3{
    background-color:#435585;
  }
.blue4{
    background-color: #7B66FF;
}

@media (max-width: 1920px){
    .first{
        width: 100%;
        height: 300px;
      }
}
.second{
    background-color: #96EFFF;
    height: 250px;
}
.nav-link {
    color: #5FBDFF;
   }
.image{
    border-radius: 50%;
    height: 300px;
    border: 3px solid black;
  }
.order{
    grid-area: 1/2/3/3;
}
.containerdesktop{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 50px 1fr 50px 140px;
    grid-template-columns: 300px 350px 1fr 1fr;
    background-color:#96EFFF;
}

.text{
    grid-area: 1/3/2/4;
    font-family: 'Red Hat Display', sans-serif;
    margin-left: 8px;
}
.box{
    height: 120px;
    width: 500px;
    border-radius: 35px;
    grid-area: 2/3/3/4;
}
h5{
    font-family: 'Wix Madefor Display', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}



h2{
    font-family: 'Great Vibes', cursive;
    font-size: 100px; 
}
.box1{
    width: 500px;
    grid-area: 1/2/1/3;
}
.box2{
    grid-area: 2/2/3/3;
}
.move1{
    width: 500px;
    grid-area: 3/2/4/3;
}
.box3{
    grid-area: 2/4/3/5;
}
.box4{
    grid-area: 3/4/4/5;
}
.move2{
    width: 500px;
    grid-area: 4/4/5/5;
}
.box5{
    grid-area: 4/2/5/3;
}
.box6{
    grid-area: 5/2/6/3;
}
.move3{
    grid-area: 6/2/7/3;
}
.bars{
    display: grid;
    grid-template-rows: 100px 100px 1fr 120px 1fr 120px;
    grid-template-columns: 300px 500px 1fr 1fr 300px;
}
.bckground{
 width: 100%;
 height: 100px;
 background-color: #96EFFF;
}

.sizing{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 400px;
    padding-top: 100px;
    padding-bottom: 70px;
}

@media (max-width: 650px){
    .order{
         grid-area: 1/1/3/2;
     }
     .text{
         grid-area: 3/1/4/2;
         margin-left: 0px;
     }
     .box{
         grid-area: 4/1/5/2;
     }
     .box1{
         grid-area: 1/1/2/2;
     }
     .box2{
        grid-area: 2/1/3/2;
    }
    .move1{
        width: 500px;
        grid-area: 3/1/4/2;
    }
     .box3{
        grid-area: 4/1/5/2;
    }
    .box4{
        grid-area: 5/1/6/2;
    }
    .move2{
        width: 500px;
        grid-area: 6/1/7/2;
    }
    .box5{
        grid-area: 7/1/8/2;
    }
    .box6{
        grid-area: 8/1/9/2;
    }
    .move3{
        grid-area: 9/1/10/2;
    }
    .bars{
        display: grid;
        grid-template-rows: 100px 100px 150px 120px 1fr 150px 150px 1fr 110px;
    }
}
     @media (max-width: 1212px){
    .sizing{
        padding-left: 10px;
    }
}

.gotop{
    position: fixed;
    bottom: 50px;
}
